{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-object-assign",
    "react-html-attrs",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
